<nav class="navbar navbar-expand-lg bg-danger fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('profile.profile') }}">Save Energy Texas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile.profile') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile.edit') }}">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile.contact_us') }}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<span style="display:block; margin: 20px 0 0 0;"></span>
