{% extends "layouts/dashboard.html" %}

{% block content %}
<div class="row p-3 my-3">

  <div class="col-12 col-md-6 p-2">
    <div class="card rounded">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-4 d-flex align-items-center justify-center justify-content-center">
            <img style="width: 128px; height: 128px;" class="rounded" src="{{ user.avatar(128) }}">
          </div>
          <div class="col-12 col-lg-8 text-center text-lg-left">
            <h2 class="m-0">{{ user.firstname }} {{ user.lastname }}</h2>
            {% if user.last_seen %}<p>Last logged in: {{ user.last_seen.strftime('%Y-%m-%d') }}</p>{% endif %}
            <p><a href="{{ url_for('user.edit') }}">Edit your profile</a></p>
            {% if not current_user.active_sub %}
              {% include "partials/profile/_add_payment.html" %}
            {% else %}
              {% include "partials/profile/_edit_payment.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card rounded">
      <div class="card-header card-header-info">
        <h4 class="title m-0 p-0">Edit Account</h4>
      </div>
      <div class="card-body">
        {% include "partials/profile/_edit_form.html" %}
      </div>
    </div>
  </div>

</div>


{% if current_user.active_sub %}
  <div class="row p-3 my-3">

    <div class="col-12 col-md-6">
      <div class="card rounded">
        <div class="card-header card-header-info">
          <h4 class="title m-0 p-0">Charges</h4>
        </div>
        <div class="card-body">
          {% include "partials/profile/_charges.html" %}
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card rounded">
        <div class="card-header card-header-info">
          <h4 class="title m-0 p-0">Account Information</h4>
        </div>
        <div class="card-body">
          {% include "partials/profile/_account_info.html" %}
        </div>
      </div>
    </div>

  </div>
{% endif %}

{% endblock %}
