<footer class="footer footer-black mt-5">
  <div class="container">
    <ul class="pull-center">
      <li>
        <a href="{{ url_for('main.index') }}">
          Home
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.faq') }}">
          FAQ
        </a>
      </li>
      <li>
        <a href="{{ url_for('auth.login') }}">
          Sign in
        </a>
      </li>
      <li>
        <a href="{{ url_for('auth.register') }}">
          Sign up
        </a>
      </li>
    </ul>
    <div class="copyright">
      ©<script>document.write(new Date().getFullYear())</script> Save Energy Texas
    </div>
  </div>
</footer>
