<div class="page-header header-filter header-large" data-parallax="true" style="background-image: url('{{ url_for('static', filename='images/light-bulb2.jpg') }}'); transform: translate3d(0px, 0px, 0px);">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title c-index__title">Save Energy Texas Lowers Your Electric Bill.</h1>
        <h3>We find the best energy provider for you. If we do not save you money, you will not pay us. Ever. Period.</h3>
        <h4>Scroll down to find out more.</h4>
        <i class="material-icons">expand_more</i>
      </div>
    </div>
  </div>
</div>
